body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 40px 0;
}

section {
  padding: 25px;
}

footer {
  background: #ddd;
  padding: 15px 0;
  margin-top: 30px;
}